<div class="detalles">
    <section>
        <h1>{{noticia.title}}</h1>
        <h3>{{noticia.snippet}}</h3>
        <img [src]="noticia.image_url" 
        alt="{{noticia.title}}" class="image">
        <p>{{noticia.description}}</p>
        <div class="info">
            <a [href]="noticia.url">Más información</a>
            <p> Publicado el {{noticia.published_at | date: 'fullDate'}}</p>
        </div>
    </section>
</div>
<div class="boton">
    <button class="btn btn-primary" (click)="goBack()">Volver atras</button>
</div>