.navbar {
    // Ajusta estilos del mat-toolbar
    display: flex;
    justify-content: flex-start;

    .mat-icon {
        vertical-align: middle;
    }

    .form-control {
        min-width: 200px;
    }

    .user-menu-header {
        min-width: 200px;
    }

    .mat-menu-item {
        .mat-icon {
            margin-right: 8px;
        }
    }
}