@use "variables/colors" as colors;
@use "mixins/user" as *;

.container{
    @include contenedor($color:colors.$primary-color, $maxWidth:auto);
}

img{
    width: 350px;
    height: 450px;
}

.title{
    font-size: 30px;
    font-family: Georgia;
    font-weight: bolde;
}