@use "variables/colors" as colors;

.container{
    background-color: colors.$primary-color;
    display: grid;
    place-items: center;
}

img{
    width: 350px;
    height: 450px;
}

.title{
    font-size: 30px;
    font-family: Georgia;
    font-weight: bolde;
}