.noticias-container {
    display: flex;
    height: 100%;

    .noticias-content {
        flex: 1;
        padding: 20px;
        overflow-y: auto;
    }

    .container {
        padding: 0 15px;
        margin-bottom: 2rem;
    }

    .row {
        margin: 0 -15px;
    }

    .col {
        padding: 15px;
    }
}