<mat-sidenav-container class="sidenav-container">
    <!-- Sidebar -->
    <mat-sidenav mode="side" [opened]="isSidebarOpen">
        <app-sidebar [isOpen]="isSidebarOpen" 
        (closeSidebar)="toggleSidebar()"></app-sidebar>
    </mat-sidenav>

    <!-- Contenido principal -->
    <mat-sidenav-content [class.shrinked]="isSidebarOpen">
        <app-navbar (toggleSidebar)="toggleSidebar()"></app-navbar>

        <!-- Contenido dinámico -->
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>