.sidenav-container {
    height: 100vh;
}

mat-sidenav {
    width: 170px;
}

mat-sidenav-content {
    transition: margin-left 0.3s ease-in-out;
}

.content {
    display: grid;
    place-items: center;
    width: 100%;
}