<div class="sidebar-header p-3">
    <h5 class="mb-0">Categorías</h5>
    <button mat-icon-button class="d-md-none" (click)="closeSidebar.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <hr>
  <div class="list-group list-group-flush">
    <button class="list-group-item list-group-item-action">
      General
    </button>
    <button class="list-group-item list-group-item-action">
      Tecnología
    </button>
    <button class="list-group-item list-group-item-action">
      Deportes
    </button>
    <button class="list-group-item list-group-item-action">
      Política
    </button>
    <button class="list-group-item list-group-item-action">
      Económicas
    </button>
    <button class="list-group-item list-group-item-action">
      Culturales
    </button>
    <button class="list-group-item list-group-item-action">
      Científicas
    </button>
  </div>
  