<div class="category-container">
    <h2>Noticias de: {{categoriaActual}}</h2>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @for (news of listNews; track news.uuid) {
            <div class="col">
                <app-noticias-cards [news]="news"></app-noticias-cards>
            </div>
        } @empty {
            <div class="col-12 text-center">
                <h3>No hay noticias en esta categoría</h3>
            </div>
        }
    </div>

    <button class="btn btn-primary mt-4" (click)="goBack()">
        Volver atrás
    </button>
</div>