@mixin contenedor ($color, $maxWidth){
    background-color: $color;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px #00000080;
    display: grid;
    place-items: center;
    width: 100%;
    max-width: $maxWidth;
}